body {
    color: #fff;
}

#highScoresList {
    list-style: none;
    margin-bottom: 4rem;   
}

.high-score {
    font-size: 2.8rem;
    margin-bottom: 0.5rem;
}

.flex-center,
.flex-column {
    font-size: 6rem;
    color: yellow;
    max-width: 80rem;


    
}